# yaml-language-server: $schema=https://aka.ms/winget-manifest.installer.1.12.0.schema.json

PackageIdentifier: SupratimSircar05.KraterPro
PackageVersion: "{{VERSION}}"
InstallerLocale: en-US
InstallerType: nullsoft
Scope: user
InstallModes:
  - interactive
  - silent
  - silentWithProgress
UpgradeBehavior: install
Installers:
  - Architecture: x64
    InstallerUrl: "{{INSTALLER_URL}}"
    InstallerSha256: "{{INSTALLER_SHA256}}"
ManifestType: installer
ManifestVersion: 1.12.0
